@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(25, 34, 56);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(6, 8, 13);
    border-radius: 10px;
}